/*
 * iPad or Mobile Style CSS
 * ポートフォリオ v0.1 (https://jeet-khondker.github.io)
 * Copyright ジート　ゼットエイチ　コンドカー
 */

/*  
    Device: JioPhone 2
*/
@media (min-width: 240px) and (max-width: 240px) {

    header.masthead h1 {
        font-size: 26px;
    }

    .intro-content {
        margin-top: 20px;
    }

    .button-label {
        display: none;
    }

    .btn {
        margin: 10px 0;
    }

    .card {
        margin: 10px 0;
    }

    .intro-video {
        width: 0px !important;
        height: 0px !important;
    }

    .background-text {
        display: none !important;;
    }
    
}

/*  
    Device: Nokia Lumia 520
    Device: iPhone 4
    Device: iPhone 5/SE
*/
@media (min-width: 320px) and (max-width: 320px) {

    .intro-video {
        width: 0px !important;
        height: 0px !important;
    }

    .btn {
        margin: 10px 0;
    }

    .card {
        margin: 10px 0;
    }

    .background-text {
        display: none !important;
    }

}

/*  
    Device: Blackberry Z30 
    Device: Microsoft Lumia 950
    Device: Moto G4
    Device: Nexus 5
    Device: Galaxy S5
*/
@media (min-width: 360px) and (max-width: 360px) {

    .intro-video {
        height: auto !important;
        margin-bottom: 20px;
    }

    .btn {
        margin: 10px 0;
    }

    .card {
        margin: 10px 0;
    }

    .background-text {
        display: none !important;
    }

}

/*
    Device: iPhone 6/7/8
    Device: iPhone X
*/
@media (min-width: 375px) and (max-width: 375px) {

    .intro-video {
        height: auto !important;
        margin-bottom: 20px;
    }

    .btn {
        margin: 10px 0;
    }

    .card {
        margin: 10px 0;
    }

    .background-text {
        display: none !important;
    }

}

/*
    Device: LG Optimus L70
    Device: Nexus 4
*/
@media (min-width: 384px) and (max-width: 384px) {

    .intro-video {
        height: auto !important;
        margin-bottom: 20px;
    }

    .btn {
        margin: 10px 0;
    }

    .card {
        margin: 10px 0;
    }

    .background-text {
        display: none !important;
    }

}

/*
    Device: Pixel 2
    Device: Pixel 2 XL
*/
@media (min-width: 411px) and (max-width: 411px) {

    .intro-video {
        height: auto !important;
        margin-bottom: 20px;
    }

    .btn {
        margin: 10px 0;
    }

    .card {
        margin: 10px 0;
    }

    .background-text {
        display: none !important;
    }

}

/*  
    Device: Nexus 5X
    Device: Nexus 6
    Device: Nexus 6P
*/
@media (min-width: 412px) and (max-width: 412px) {

    .intro-video {
        height: auto !important;
        margin-bottom: 20px;
    }

    .btn {
        margin: 10px 0;
    }

    .card {
        margin: 10px 0;
    }

    .background-text {
        display: none !important;
    }

}

/*  
    Device: iPhone 6/7/8 Plus
*/
@media (min-width: 414px) and (max-width: 414px) {

    .intro-video {
        height: auto !important;
        margin-bottom: 20px;
    }

    .btn {
        margin: 10px 0;
    }

    .card {
        margin: 10px 0;
    }

    .background-text {
        display: none !important;
    }

}

/*  
    Device: Nokia N9
*/
@media (min-width: 480px) and (max-width: 480px) {

    .intro-video {
        height: auto !important;
        margin-bottom: 20px;
    }

    .btn {
        margin: 10px 0;
    }

    .card {
        margin: 10px 0;
    }

    .background-text {
        display: none !important;
    }

}

@media (min-width: 500px) and (max-width: 575px) {

    .intro-video {
        height: auto !important;
        margin-bottom: 20px;
    }

    .btn {
        margin: 10px 0;
    }

    .card {
        margin: 10px 0;
    }

    .background-text {
        display: none !important;
    }

}

/* 
    Device: Blackberry PlayBook
    Device: Nexus 7
*/

@media (min-width: 600px) and (max-width: 600px) {

    .intro-video {
        height: auto !important;
        margin-bottom: 20px;
    }

    .btn {
        margin: 10px 0;
    }

    .card {
        margin: 10px 0;
    }

    .background-text {
        display: none !important;
    }

}

@media (min-width: 576px) and (max-width: 767px) {

    .intro-video {
        height: auto !important;
        margin-bottom: 20px;
    }

    .btn {
        margin: 10px 0;
    }

    .card {
        margin: 10px 0;
    }

    .background-text {
        display: none !important;
    }

}

/* Device: Microsoft Lumia 550 */
@media (min-width: 640px) and (max-width: 640px) {

    .background-text {
        display: none !important;
    }

}

/*  
    Device: Kindle Fire HDX
    Device: Nexus 10
*/
@media (min-width: 800px) and (max-width: 800px) {

    .intro-video {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-bottom: 20px;
    }

    .intro-content {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .button-label {
        display: none;
    }

    .background-text {
        display: none !important;
    }

}

/*  
    Device: iPad Mini
    Device: iPad
*/
@media (min-width: 768px) and (max-width: 991px) {

    .intro-video {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-bottom: 20px;
    }

    .intro-content {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .button-label {
        display: none;
    }

    .background-text {
        display: none !important;
    }

}

/*  
    Device: iPad Mini
    Device: iPad
*/
@media (min-width: 768px) and (max-width: 1010px) {

    .service-content {
        font-size: 14px;
    }

    .button-label {
        display: none;
    }

    .card-text {
        font-size: 13px;
    }

    .background-text {
        display: none !important;
    }

}

/* Device: iPad Pro */
@media (min-width: 1024px) and (max-width: 1024px) {

    .service-content {
        font-size: 14px;
    }

    .button-label {
        display: none;
    }

    .card-text {
        font-size: 13px;
    }

}

@media (min-width: 1011px) and (max-width: 1199px) {

    .service-content {
        font-size: 14px;
    }

    .button-label {
        display: none;
    }

    .card-text {
        font-size: 13px;
    }

}

@media (min-width: 1200px) {

    /* Background Text */
    .background-text {
        font-size: 125px;
        color: #222222;
        opacity: 0.5;
        font-weight: bolder;
        z-index: 0;
        pointer-events: none;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-top: -40px;
    }

    /* Hero Image */
    .hero-image {
        width: 80%;
        /* height: 100vh; */
        /* position: absolute; */
        right: 0;
        /* top: 38%; */
        /* transform: translateY(-25%); */
        border: 2px solid #FFFFFF;
        border-radius: 10%;
    }

}

/* Device: Laptop With MDPI Screen */
@media (min-width: 1280px) and (max-width: 1280px) {

    

}